body ,html{
    height:100%;
}
.bg{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    height:65%;
    background-position: center;
    background-size: cover;
}
#text1{
    text-align:right;
    margin-right: 100px;
}
.image1{
    margin-left:700px;
    display:inherit;
    margin-right: auto;
}
